<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="brand d-flex justify-content-center mb-5">
                <i class="fa-solid fa-shop ms-3 me-3" style="font-size: 3rem;"></i>
                <p class="fs-1">Ecommerce</p>
            </div>
            <h2 class="text-center">Iniciar Sesion</h2>
            <form>
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="correo@ejemplo.com" required>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>