<div class="d-flex justify-content-center mt-4 pb-5">
    <div class="row">
        <div class="col d-flex align-items-center">
            <div class="">
                <h1 class="display-3 text-light">Descubre los mejores productos para tu estilo de vida</h1>
                <h1><small class="text-light">Explora nuestra coleccion de productos de alta calidad que elevan tu vida
                        diaria</small></h1>
                <div class="options mt-5">
                    <button type="button" class="btn btn-primary btn-lg me-3">Comprar ahora</button>
                    <button type="button" class="btn btn-outline-light btn-lg">Explorar Categorias</button>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="mt-5"></div>
            <picture class="img-profile d-flex justify-content-center">
                <img class="img-fluid" height="400" src="assets/img/ecommerce/main-page/presentation.jpg"
                    alt="Presentation">
            </picture>
        </div>
    </div>
</div>