@if(_ecommerceService.loadEcommerce){
<div class="ms-5 me-5">
  <app-header></app-header>
  <div class="pt-5">
    <app-presentation class="mb-5" id="presentation" [class.fade-in]="true"></app-presentation>
    <app-featured-products class="mb-5" id="featured-products" [class.slide-in]="true"></app-featured-products>
    <app-categories class="mb-5" id="categories" [class.fade-in]="true"></app-categories>
  </div>
  <app-footer></app-footer>
</div>
}@else{
<div>
  <loading-spinner></loading-spinner>
</div>
}


